@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@200&display=swap');

.footer {
  background-color: #313131;
  display: flex;
  padding: 15px 0px 15px 0px;
  justify-content: center;
  border-top: 4px solid #c23f81;
  margin-top: 80px;
}

.copyright {
  color: white;
  align-self: center;
  margin-left: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  font-weight: 500;
}
